<!doctype html>
<html lang="ru">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>
        {% block title %}{% endblock %}
        </title>

        {% block static %}{% endblock %}

    </head>
    <body class="body">
        {% block nav %}
            {% include 'includes/nav.html' %}
        {% endblock %}        
        <main class="main container">
            {% block main_header %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block paginator %}
            {% endblock %}
        </main>
        <footer class="footer">
            {% include 'includes/footer.html' %}
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
